doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/wechat/static/stylesheets/style.css')
        link(rel='stylesheet', href='/wechat/static/stylesheets/weui.css')
        meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no')
  body
      block content
      block javascript
